<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-7 col-sm-7">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Total Assets</p>
                      <div *ngIf="totalAsset">
                        <h3 class="card-title">{{ totalAsset }}</h3>
                      </div>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                            <i class="material-icons">update</i> few minutes ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-7 col-sm-7">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">verified_user</i>
                      </div>
                      <p class="card-category">Safe Assets</p>
                      <h3 class="card-title"> {{ safeAsset }} </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-7 col-sm-7">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">warning</i>
                      </div>
                      <p class="card-category">Suspicious Assets</p>
                      <h3 class="card-title"> {{ suspAsset }} </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                            <i class="material-icons">update</i> 25 minutes ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
            <div class="col-md-12">
                    <div class="card card-chart">
                        <div class="card-header card-header-info">
                            <div class="ct-chart" id="monthlyUpload"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Monthly Upload</h4>
                            <p class="card-category">Your Monthly upload graph</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 1 minute ago
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
            