<div class="background">
  <div class="container">
  <a (click)="sendtoHome()" class="back-home">&#10005;</a>
  <h2>Get your account now</h2>
  <p>Always get updates on where your files located. <br>
    Free forever.</p>
    <form>
        <fieldset>
          <div class="form">
            <span class="fa fa-user"></span>
                <input [(ngModel)]="registerUserData.first_name" type="text" class="form-control" placeholder="First Name">
          </div>

          <div class="form">
            <span class="fa fa-user"></span>
                <input [(ngModel)]="registerUserData.last_name" type="text" class="form-control" placeholder="Last Name">
          </div>

          <div class="form">
              <span class="fa fa-envelope"></span>
              <input [(ngModel)]="registerUserData.email" type="email" class="form-control" placeholder="Email Address">
          </div>
      
          <div class="form">
              <span class="fa fa-lock"></span>
              <input [(ngModel)]="registerUserData.password" type="password" class="form-control" placeholder="Password">
          </div>

          <div class="form last">
              <span class="fa fa-lock"></span>
              <input [(ngModel)]="registerUserData.cfmPassword" type="password" class="form-control" placeholder="Confirm Password">
          </div>
            <button type="button" (click)="signUp()">Sign Up</button>
            <p class="have-account">Already have an account ?<a (click)="sendtoLogin()">Login</a></p>
        </fieldset>
      </form>
  </div><br>
</div>