<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title ">Assets Table</h4>
						<p class="card-category">You can update and delete your assets here</p>
					</div>
					<div class="card-body">
						<input #search class="search" type="text" placeholder="Search..." (change) ="onSearch(search.value)"><i class="searchico fa fa-search"></i>
						<div class="table-responsive">    
							<ng2-smart-table [settings]="settings" [source]="source" (editConfirm)="updateRecord($event)" (deleteConfirm)="deleteRecord($event)"></ng2-smart-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>