<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title ">Assets Location</h4>
						<p class="card-category">You can view your asset location here</p>
					</div>
					<div class="card-body">
						{{ address }} <br>
						<input #search class="search" type="text" placeholder="Search..." (change) ="onSearch(search.value)"><i class="searchico fa fa-search"></i>
						<ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>