<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div style="margin-left:13em;" class="col-md-7">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create Asset</h4>
                        <p class="card-category">Complete your asset information below</p>
                    </div>
                    <div style="padding-bottom:3em;" class="card-body">
                        <form style="padding-top:2em;" (ngSubmit)="onSubmit()">
                        	<div class="validation-error"> * - Required Field </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" id="name" name="name" #name="ngModel" 
                                         [(ngModel)]="assetService.selectedAsset.name" placeholder="Name" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput type="text" id="type" name="type" #type="ngModel" 
                                      [(ngModel)]="assetService.selectedAsset.type" placeholder="Type" required>
                                     
                                    </mat-form-field>
                                  </div>
                            </div>
                            <div style="padding-top:2em;" class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                   <textarea matInput type="textarea" id="description" name="description" #description="ngModel" [(ngModel)]="assetService.selectedAsset.description" placeholder="Description" required></textarea>
                    
                                 </mat-form-field>
                                </div>
                            </div>
                            <div style="padding-top:2em;" class="row">
                                    <div class="col-md-12">
                                      <mat-form-field class="example-full-width">
                                       <textarea matInput id="remark" name="remark" #remark="ngModel" 
                                      [(ngModel)]="assetService.selectedAsset.remark" placeholder="Remark" ></textarea>
                                     </mat-form-field>
                                    </div>
                                </div>
                            <button style="margin-top:5em;" mat-raised-button type="submit" class="btn btn-danger pull-right">Submit Asset</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  