<div class="container">
<h2>Sign In</h2>
	<div *ngIf="isLoginError" class="red-text center error-message"> 
		<i class="material-icons"> Error </i> Incorrect username or password!
	</div>
	<form>
		<fieldset>
		<input [(ngModel)]="loginUserData.email" name="email" type="email" class="form-control" placeholder="Email Address">
		<input [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control" placeholder="Password">
		<button (click)="loginUser()" type="button" class="btn btn-success">Login</button>
		<br>
		<a href="#">forget your password ?</a>
		</fieldset>
	</form>
</div>
<p>Don't have account ?<a class="signup" href="/signup">  Signup</a></p>