.background
{
    background-image: url('/assets/signup.jpg');

    /* Set a specific height */
    min-height: 630px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container
{
    display: inline-block;
    background: #fff;
    border-radius: 30px;
    padding-bottom: 2em;
    margin-top: 10em; 
    margin-left: 26em;
    width: 13cm; 
}

.container .back-home
{
    cursor: pointer;
    float: right;
    font-size: 20px;
    color: grey;
    margin-right: 0.5em;
}

.container .back-home:hover
{
    text-decoration: none;
}

p
{
    font-family: 'Trebuchet MS';
    color: grey;
    text-align: center;
}

h2
{
    font-family: 'Gill Sans';
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2em;
}

input 
{
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    width: 8cm;
    margin-left: 6em;
}

.form
{
    position: relative;
    margin-bottom: 3em;
    margin-top: 1em;
}

.last
{
    margin-bottom: 1.5em;
}

.form input
{
    text-indent: 30px;
    font-family: 'Trebuchet MS'; 
    color: #000;
}

.form .fa-envelope
{
    position: absolute;
    top: 8.5px;
    left: 110px;
    color: gray;
}

.form .fa-lock
{
    position: absolute;
    top: 8px;
    left: 110px;
    color: gray;
}

button
{
    background-color: #fff;
    color: #E37222;
    font-family: 'Trebuchet MS';
    transition: 0.5s;
    
   
    width: 25%;
    height: 40px;
    margin-left: 11.5em;
    margin-bottom: 0.5em;
    border-color: #E37222;
    border-radius: 30px;
}

button:hover
{
    background-color: #E37222;
    color: #fff;
    transition: 0.5s;
}

.no-account p
{
    display: inline-block;
    color: black;
    font-size: 13px;
    text-align: center;
}

.container .signup
{  
    cursor: pointer;
    color: #E37222;
    font-size: 13px;
    margin-left: 0.5em;
    font-weight: bold;
}

.forgot-password
{
    cursor: pointer;
    font-family: 'Trebuchet MS';
    color: #000;
    font-size: 12px;
    margin-left: 14.5em;
}

.container a:hover
{
    text-decoration: underline;
}

.error-message
{
 color: red;
 text-align: center;
}