<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://hashbit17.wixsite.com/site/organizers" target="_blank">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="https://hashbit17.wixsite.com/site" target="_blank">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, modified by BEEMS team
        </div>
    </div>
</footer>
